for p in ('s' flex-start) ('e' flex-end) ('c' center) (bl baseline) (st stretch)
  className = _utPrefix + -as + p[0]
  .{className}
    align-self p[1]
  .{className}-xs
    +xs()
      align-self p[1]
  .{className}-sm
    +sm()
      align-self p[1]
  .{className}-md
    +md()
      align-self p[1]
  .{className}-lg
    +lg()
      align-self p[1]
  .{className}-xl
    +xl()
      align-self p[1]
