br
  &.br-pc
  &.br-sp
  &.br-xs
  &.br-sm
  &.br-md
  &.br-lg
  &.br-xl
    display none
  &.br-pc
    +md-xl()
      display block
  &.br-sp
    +xs-sm()
      display block
  &.br-xs
    db-xs()
  &.br-sm
    db-sm()
  &.br-md
    db-md()
  &.br-lg
    db-lg()
  &.br-xl
    db-xl()
