.{_utPrefix}-cf
  &::after
    display block
    clear both
    content ""
  &-xs
    +xs()
      &::after
        display block
        clear both
        content ""
  &-sm
    +sm()
      &::after
        display block
        clear both
        content ""
  &-md
    +md()
      &::after
        display block
        clear both
        content ""
  &-lg
    +lg()
      &::after
        display block
        clear both
        content ""
  &-xl
    +xl()
      &::after
        display block
        clear both
        content ""
