.{_utPrefix}-fx
  &
    flex 1 1 auto
  &-xs
    +xs()
      flex 1 1 auto
  &-sm
    +sm()
      flex 1 1 auto
  &-md
    +md()
      flex 1 1 auto
  &-lg
    +lg()
      flex 1 1 auto
  &-xl
    +xl()
      flex 1 1 auto
