.{_utPrefix}-fsn
  &
    font-style normal
  &-xs
    +xs()
      font-style normal
  &-sm
    +sm()
      font-style normal
  &-md
    +md()
      font-style normal
  &-lg
    +lg()
      font-style normal
  &-xl
    +xl()
      font-style normal

.{_utPrefix}-fsi
  &
    font-style italic
  &-xs
    +xs()
      font-style italic
  &-sm
    +sm()
      font-style italic
  &-md
    +md()
      font-style italic
  &-lg
    +lg()
      font-style italic
  &-xl
    +xl()
      font-style italic
