for s in _ufFontSize
  .{_utPrefix}-fz{s}
    fz s

  .{_utPrefix}-fz{s}-xs
    fz-xs s

  .{_utPrefix}-fz{s}-sm
    fz-sm s

  .{_utPrefix}-fz{s}-md
    fz-md s

  .{_utPrefix}-fz{s}-lg
    fz-lg s

  .{_utPrefix}-fz{s}-xl
    fz-xl s
