.{_utPrefix}-fwb
  &
    font-weight bold
  &-xs
    +xs()
      font-weight bold
  &-sm
    +sm()
      font-weight bold
  &-md
    +md()
      font-weight bold
  &-lg
    +lg()
      font-weight bold
  &-xl
    +xl()
      font-weight bold
