for i in -4..20
  .{_utPrefix}-m{i * 5}
    m i * 5
  .{_utPrefix}-mr{i * 5}
    mr i * 5
  .{_utPrefix}-mb{i * 5}
    mb i * 5
  .{_utPrefix}-ml{i * 5}
    ml i * 5
  .{_utPrefix}-my{i * 5}
    my i * 5
  .{_utPrefix}-mx{i * 5}
    mx i * 5

  .{_utPrefix}-m{i * 5}-xs
    m-xs i * 5
  .{_utPrefix}-mr{i * 5}-xs
    mr-xs i * 5
  .{_utPrefix}-mb{i * 5}-xs
    mb-xs i * 5
  .{_utPrefix}-ml{i * 5}-xs
    ml-xs i * 5
  .{_utPrefix}-my{i * 5}-xs
    my-xs i * 5
  .{_utPrefix}-mx{i * 5}-xs
    mx-xs i * 5

  .{_utPrefix}-m{i * 5}-sm
    m-sm i * 5
  .{_utPrefix}-mr{i * 5}-sm
    mr-sm i * 5
  .{_utPrefix}-mb{i * 5}-sm
    mb-sm i * 5
  .{_utPrefix}-ml{i * 5}-sm
    ml-sm i * 5
  .{_utPrefix}-my{i * 5}-sm
    my-sm i * 5
  .{_utPrefix}-mx{i * 5}-sm
    mx-sm i * 5

  .{_utPrefix}-m{i * 5}-md
    m-md i * 5
  .{_utPrefix}-mr{i * 5}-md
    mr-md i * 5
  .{_utPrefix}-mb{i * 5}-md
    mb-md i * 5
  .{_utPrefix}-ml{i * 5}-md
    ml-md i * 5
  .{_utPrefix}-my{i * 5}-md
    my-md i * 5
  .{_utPrefix}-mx{i * 5}-md
    mx-md i * 5

  .{_utPrefix}-m{i * 5}-lg
    m-lg i * 5
  .{_utPrefix}-mr{i * 5}-lg
    mr-lg i * 5
  .{_utPrefix}-mb{i * 5}-lg
    mb-lg i * 5
  .{_utPrefix}-ml{i * 5}-lg
    ml-lg i * 5
  .{_utPrefix}-my{i * 5}-lg
    my-lg i * 5
  .{_utPrefix}-mx{i * 5}-lg
    mx-lg i * 5


  .{_utPrefix}-m{i * 5}-xl
    m-xl i * 5
  .{_utPrefix}-mr{i * 5}-xl
    mr-xl i * 5
  .{_utPrefix}-mb{i * 5}-xl
    mb-xl i * 5
  .{_utPrefix}-ml{i * 5}-xl
    ml-xl i * 5
  .{_utPrefix}-my{i * 5}-xl
    my-xl i * 5
  .{_utPrefix}-mx{i * 5}-xl
    mx-xl i * 5

.{_utPrefix}-ma
  m()
.{_utPrefix}-mxa
  mx()

.{_utPrefix}-ma-xs
  m-xs()
.{_utPrefix}-mxa-xs
  mx-xs()

.{_utPrefix}-ma-sm
  m-sm()
.{_utPrefix}-mxa-sm
  mx-sm()

.{_utPrefix}-ma-md
  m-md()
.{_utPrefix}-mxa-md
  mx-md()

.{_utPrefix}-ma-lg
  m-lg()
.{_utPrefix}-mxa-lg
  mx-lg()

.{_utPrefix}-ma-xl
  m-xl()
.{_utPrefix}-mxa-xl
  mx-xl()
