.{_utPrefix}-maw100p
  &
    max-width 100%
  &-xs
    +xs()
      max-width 100%
  &-sm
    +sm()
      max-width 100%
  &-md
    +md()
      max-width 100%
  &-lg
    +lg()
      max-width 100%
  &-xl
    +xl()
      max-width 100%
