for i in 0..20
  .{_utPrefix}-p{i * 5}
    p i * 5
  .{_utPrefix}-pr{i * 5}
    pr i * 5
  .{_utPrefix}-pb{i * 5}
    pb i * 5
  .{_utPrefix}-pl{i * 5}
    pl i * 5
  .{_utPrefix}-py{i * 5}
    py i * 5
  .{_utPrefix}-px{i * 5}
    px i * 5

  .{_utPrefix}-p{i * 5}-xs
    p-xs i * 5
  .{_utPrefix}-pr{i * 5}-xs
    pr-xs i * 5
  .{_utPrefix}-pb{i * 5}-xs
    pb-xs i * 5
  .{_utPrefix}-pl{i * 5}-xs
    pl-xs i * 5
  .{_utPrefix}-py{i * 5}-xs
    py-xs i * 5
  .{_utPrefix}-px{i * 5}-xs
    px-xs i * 5

  .{_utPrefix}-p{i * 5}-sm
    p-sm i * 5
  .{_utPrefix}-pr{i * 5}-sm
    pr-sm i * 5
  .{_utPrefix}-pb{i * 5}-sm
    pb-sm i * 5
  .{_utPrefix}-pl{i * 5}-sm
    pl-sm i * 5
  .{_utPrefix}-py{i * 5}-sm
    py-sm i * 5
  .{_utPrefix}-px{i * 5}-sm
    px-sm i * 5

  .{_utPrefix}-p{i * 5}-md
    p-md i * 5
  .{_utPrefix}-pr{i * 5}-md
    pr-md i * 5
  .{_utPrefix}-pb{i * 5}-md
    pb-md i * 5
  .{_utPrefix}-pl{i * 5}-md
    pl-md i * 5
  .{_utPrefix}-py{i * 5}-md
    py-md i * 5
  .{_utPrefix}-px{i * 5}-md
    px-md i * 5

  .{_utPrefix}-p{i * 5}-lg
    p-lg i * 5
  .{_utPrefix}-pr{i * 5}-lg
    pr-lg i * 5
  .{_utPrefix}-pb{i * 5}-lg
    pb-lg i * 5
  .{_utPrefix}-pl{i * 5}-lg
    pl-lg i * 5
  .{_utPrefix}-py{i * 5}-lg
    py-lg i * 5
  .{_utPrefix}-px{i * 5}-lg
    px-lg i * 5


  .{_utPrefix}-p{i * 5}-xl
    p-xl i * 5
  .{_utPrefix}-pr{i * 5}-xl
    pr-xl i * 5
  .{_utPrefix}-pb{i * 5}-xl
    pb-xl i * 5
  .{_utPrefix}-pl{i * 5}-xl
    pl-xl i * 5
  .{_utPrefix}-py{i * 5}-xl
    py-xl i * 5
  .{_utPrefix}-px{i * 5}-xl
    px-xl i * 5
