.{_utPrefix}-wsn
  &
    white-space nowrap
  &-xs
    +xs()
      white-space nowrap
  &-sm
    +sm()
      white-space nowrap
  &-md
    +md()
      white-space nowrap
  &-lg
    +lg()
      white-space nowrap
  &-xl
    +xl()
      white-space nowrap
